.menuList{
  height: calc(100vh - 64px);
  overflow: auto;
}

.menuList :global(.ant-menu){
  background-color: #404040
}
.menuList :global(.ant-menu-item){
  color:#fff
}
.menuList :global(.ant-menu-inline.ant-menu-sub){
  background-color: #333;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45) inset;

}